@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

@theme {
  --font-Oswald: "Bitcount Prop Single", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));
